
.vaccineAddForm{
    margin-right: 4rem;
    margin-left: 4rem;}
h3{
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.dose {
    margin-left: 1rem;
}
.form-input {
    width: 30%;
}
.vaccineDropDown {
    margin-left: 1rem;
}

.create-vaccine-dashboard{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

button {
    margin-right: 0.5rem;
}



/*input styling*/
:focus{outline: none;}
.col{width: 100%; margin-bottom: 10%; position: relative;} 
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}


.effect-1{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #0e9ba0; transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}


.new-vaccine-button{
  outline: none;
  background-color: #f8d2b1;
  border-radius: 100px;
  box-shadow: rgba(173, 125, 5, 0.2) 0 -25px 18px -14px inset,rgba(187, 165, 44, 0.15) 0 1px 2px,rgba(181, 159, 37, 0.15) 0 2px 4px,rgba(180, 156, 20, 0.15) 0 4px 8px,rgba(187, 132, 44, 0.15) 0 8px 16px,rgba(194, 87, 45, 0.15) 0 16px 32px;
  color: rgb(8, 21, 31);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2%;
  width: 300px;
  border-color:none
}

.new-vaccine-button:hover:focus {
  box-shadow: rgba(187, 108, 44, 0.35) 0 -25px 18px -14px inset,rgba(205, 101, 32, 0.25) 0 1px 2px,rgba(187, 101, 44, 0.25) 0 2px 4px,rgba(187, 111, 44, 0.25) 0 4px 8px,rgba(212, 129, 28, 0.25) 0 8px 16px,rgba(213, 116, 31, 0.25) 0 16px 32px;
  transform: scale(1.1) ;
}
